# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
THUMB_IMAGE = "https://github.com/SACHIBOT/SACHIBOT/blob/main/imgs/secktor/anime2.jpg?raw=true"
port = 8000
email = "sachinbot@gmail.com"
global_url = "instagram.com/Sachi_ya_004"
OWNER_NAME = "SACHINTHA FDO"
AUTO_REACTION = true
FAKE_COUNTRY_CODE = 92
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  ""
THEME= QUEEN-MISAKI
WORKTYPE = public
PACK_INFO = "SACHIBOT;Queen-Misaki"
ANTILINK_VALUES = "chat.whatsapp.com"
